
/.vs
/DigitalSchool/bin
/DigitalSchool.BLL/bin
/DigitalSchool.DAL/bin
/DigitalSchool.PropertyEntities/bin
/DigitalSchool.SysErrMsgHandler/bin
/DigitalSchool/obj
/DigitalSchool.BLL/obj
/DigitalSchool.DAL/obj
/DigitalSchool.PropertyEntities/obj
/DigitalSchool.SysErrMsgHandler/obj
